@import 'base/variables';

* {
  font-family: 'Museo Sans Cyrl', sans-serif;
  box-sizing: border-box;
}
.container {
  position: relative;
  max-width: 950px;
  margin: 0 auto;
}
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/titles';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/carousel';
@import 'blocks/catalog';
@import 'blocks/feedback';
@import 'blocks/footer';
@import 'blocks/modal';
@import 'blocks/pageup';



@import 'blocks/media';
