.button{
  width: 153px;
  height: 32px;
  background: $main-color;
  border-radius: 5px;
  border:none;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  //line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  outline:none;
  cursor: pointer;
  &__main {
      width: 300px;
      height: 50px;
      font-size: 16px;
      line-height: 25px;
      display: flex;
      align-items: flex-end;
      text-align: center;
      text-transform: uppercase;
      margin-top: 67px;
  }
  &_submit {
    width: 100%;
    max-width: 300px;
    height: 55px;
    border-radius: 5px;
    font-size: 16px;

  }
  &_mini {
    width: 135px;
    height: 44px;
    font-weight: 500;
    font-size: 14px;
  }
}