.feed-form{
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;

  input{
    height: 50px;
    margin-bottom: 11px;
    padding: 0 21px;
    font-weight: 300;
    font-size: 14px;
    align-items: center;
    color: #4B4B4B;
    background: white;
    border-radius: 5px;
    border:none;
    &:nth-child(3) {
      margin-bottom: 20px;
    }
  }
}