.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__logo {
    width: 250px;
    img {
      width: 100%;
    }
  }
  &__official{
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    span{
      display: block;
      font-size: 18px;
      line-height: 29px;
    }
  }
  &__phone{
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    align-items: flex-end;
    text-align: right;
    color: #FFFFFF;
    display: block;
    text-decoration: none;
    margin-bottom: 3px;

    &:hover{
      color: $main-color;
    }
  }
  &__contacts{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    cursor: pointer;
    margin-top: 10px;
  }
}