@media (max-width: 992px) {
  .promo {
      &__wrapper {
        padding: 0 70px;
      }
  }
  .carousel {
    .slick-prev, .slick-next {
      img{
        width: 15px;
        height: 25px;
      }
    }
  }
}

@media (max-width: 768px) {
  .header {
    &__phone {
      font-size: 16px;
    }
  }
  .button {
    width: 140px;
    font-size: 10px;
    &_submit{
      width: 300px;
    }
  }
  .promo {
    min-height: 400px;
    &__header {
      font-size: 36px;
    }
    &__subheader {
      font-size: 20px;
    }
  }
  .consultation {
    min-height: 400px;
    padding: 50px;
  }
  .title_left {
    font-size: 26px;
    line-height: 40px;
  }
}

@media (max-width: 576px) {
  .header {
    justify-content: space-around;
    &__official{
      display: none;
    }
  }
  .promo {
    min-height: 300px;
    padding: 50px;
    &__wrapper{
      padding: 0;
      align-items: center;
    }
    &__header {
      font-size: 30px;
    }
  }
  .button{
    &_main {
      margin-top: 20px;
    }
  }
  .title{
    &_left{
      text-align: center;
    }
  }
  .consultation{
    &__descr{
      text-align: center;
    }
  }
  .feed-form {
    margin: 20px auto;
  }
}
@media (max-width: 480px) {
  .promo {
    padding: 50px 10px;
    &__header {
      font-size: 26px;
    }
    &__subheader {
      font-size: 14px;
    }
    &__icons {
      margin-top: 50px;
    }
    &__icons{
      justify-content: center;
    }
  }
  .consultation {
    padding: 50px 10px;
    &__descr {
      font-size: 16px;
      line-height: 22px;
    }
  }
  .title {
    &_left {
      font-size: 20px;
      line-height: 30px;
    }
  }
}
@media (max-width: 320px) {
  .header {
    flex-direction: column;
  }
  .promo {
    &__wrapper {
      text-align: center;
      margin-top: 40px;
    }
    &__header {
      font-size: 20px;
    }
    &__icons {
      margin-top: 30px;
    }
    &__icon {
      width: 100px;
    }
  }
  .consultation {
    &__descr {
      font-size: 14px;
    }
  }
  .button {
    &_submit{
      max-width: 300px;
      width: 100%;

    }
  }

}