.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(0, 0, 0, .56);
}
.modal {
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  width: 100%;
  max-width: 380px;
  //min-height: 400px;
  background: #F2F2F2;
  //border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 38px 40px ;
  align-items: center;
  &__close {
    position: absolute;
    top: 0;
    right: -40px;
    font-size: 41px;
    line-height: 21px;
    color: $main-color;
    cursor: pointer;
  }
  &__subtitle {
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #0D0D0D;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  &__descr {
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: #0D0D0D;
  }
  &__mini {
   min-height: 140px;
  }
  .error {
    border: 1px solid $main-color;
    text-align: center;
  }
  label.error {
    border: none;
    margin-bottom: 15px;
  }
}
#consultation, #order, #thanks {
  display: none;
}